.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 600px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0.3em;
      }

    &::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 5px;
    }

    &__content {
        display: flex;
    }
}